/node_modules
/public/hot
/public/storage
/storage/app/public
/storage/downloads
!vendor\laravel\breeze\stubs\api\App\Http\Controllers\Auth
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/resources/views/vendor/
/public/vendor/
/storage/
/storage/agency_photos/
/storage/escort_photos/
/storage/posts/