@charset "UTF-8";
@font-face {
  font-family: "AktivGrotesk-Bold";
  src: url(/fonts/AktivGroteskCorp-Bold.ttf?2fdd8f4b706ff5c96757b9cf5912247b);
}
@font-face {
  font-family: "AktivGrotesk";
  src: url(/fonts/AktivGroteskCorp-regular.ttf?87c3309309d6061b7de45e5182993944);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #202020;
  font-size: 1rem;
  font-weight: normal;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AktivGrotesk-Bold", Arial, Helvetica, sans-serif;
}

.htext {
  text-align: center;
}

h1 {
  color: #dd2424;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.3rem;
}

h4, .h4 {
  color: #333;
  font-size: 1.2rem;
}

a {
  color: #dd2424;
}

a:hover {
  color: #000;
}

a[aria-expanded=false] .ni-bold-up {
  transition: 0.3s transform ease-in-out;
  transform: rotate(180deg);
}

a[aria-expanded=true] .ni-bold-up {
  transition: 0.3s transform ease-in-out;
}

.ban-panel {
  padding: 2px;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
}

.bg-gris {
  background-color: #fafafa;
}

.bg-rosa {
  background-color: #dd2424;
}

.blogtitle {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
}

.blogtitle:link, .blogtitle:active, .blogtitle:visited {
  color: #000;
}

.blogtitle:hover {
  color: #dd2424;
}

.boti {
  border-top: #202020 1px solid;
  text-align: right;
  padding-right: 60px;
}

.boti:link,
.boti:active,
.boti:visited {
  color: #fff;
  border: #000 1px solid;
}

.boti:hover {
  color: #dd2424;
}

.bmanun {
  padding: 7px 15px 7px 15px;
  font-size: 1.2rem;
  margin-right: 15px;
  margin-left: 15px;
}

.bmanun:link, .bmanun:active, .bmanun:visited {
  background-color: #dd2424;
  color: #fff;
  border: 1px solid #dd2424;
}

.bmanun:hover {
  background-color: #fff;
  color: #dd2424;
  border: 1px solid #dd2424;
}

.buser {
  margin-right: 5px;
  margin-left: 10px;
  padding-top: 15px;
}

.buser:link, .buser:active, .buser:visited {
  color: #dd2424;
}

.buser:hover {
  color: #000;
}

.breadcrumb_scor {
  display: block;
  padding-left: 10px;
  text-align: right;
  font-size: 13px;
  margin-top: 10px;
}

.buscatab {
  margin-right: 15px;
}

.buscamap {
  margin-right: 22px;
  padding-top: 5px;
}

.form-control {
  height: calc(1.9rem + 2px);
}

.buscatab input:focus {
  border: 1px solid #dd2424 !important;
}

ul {
  list-style: none;
}

.breadcrumb_scor li {
  display: inline-block;
  margin-right: 5px;
}

.breaddiv {
  display: block;
  float: right;
}

.btn-primary {
  color: #fff;
  border-color: #000;
  background-color: #202020;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-primary:hover {
  color: #fff;
  border-color: #fff;
  background-color: #dd2424;
}

.btns-account {
  padding: 12px;
  width: 280px;
  text-decoration: none;
  border-radius: 8px;
  color: #202020;
  margin: 0.5em 0;
  border: #202020 1px solid;
  background-color: #fffbfb;
}

.butbuycoins:hover {
  color: #fff;
  background-color: #dd2424;
}

.butchangepass:hover {
  color: #fff;
  background-color: #64b1ff;
}

.butclose:hover {
  color: #fff;
  background-color: #dd2424;
}

.coinsleft {
  font-family: "Press Start 2P";
  color: #dd2424;
  font-size: 2rem;
}

.corner,
.corner-agen {
  position: relative;
}

.corner-agen::after {
  content: "";
  width: 53px;
  height: 52px;
  position: absolute;
  right: -173px;
  top: -11px;
  z-index: 1;
  background-size: cover;
  background-image: url(/images/corner-vip.png?8fce9c927a84f81444123986a51d2b2d);
}

.corner::after {
  content: " ";
  width: 53px;
  height: 52px;
  position: absolute;
  top: -4px;
  right: -5px;
  z-index: 1;
  background-size: cover;
  background-image: url(/images/corner-vip.png?8fce9c927a84f81444123986a51d2b2d);
}

.verified,
.verified-agen {
  position: relative;
}

.verified-agen::after, .verified::after {
  content: "";
  width: 41px;
  height: 39px;
  position: absolute;
  right: 2px;
  bottom: 3px;
  z-index: 1;
  background-size: cover;
  background-image: url(/images/verified.png?d389dfcd98afe5a36b7028497162d89e);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #dd2424;
}

.custom-layer {
  position: absolute;
  background-color: rgba(24, 24, 24, 0.85);
  top: 0;
  width: inherit;
  height: 100%;
}

.description {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.description ul {
  padding: 4px 10px;
  width: 100%;
}
.description ul li {
  color: #dd2424;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  display: block;
  float: none;
  line-height: 2rem;
  margin: 0;
  width: 100%;
  padding: 0;
  text-align: left;
}
.description ul li span {
  float: right;
}

.firstHeading {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "AktivGrotesk-Bold", Arial, Helvetica, sans-serif;
  color: #dd2424;
}

.filepond--item {
  width: calc(30% - 0.5em);
}

.faq .item .question {
  background: #fff;
  padding: 20px 50px;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  border-bottom: 1px solid #f4ecec;
}

.faq .item .answer {
  background: #f6f6f6;
  border-top: 1px solid #ddd;
  padding: 20px;
  font-size: 12px;
  line-height: 19px;
  border-left: 4px solid #cb28bf;
  display: none;
}

.featser {
  font-size: 0.9rem;
}

.flechika {
  color: #dd2424;
  padding-right: 2px;
}

.footer {
  padding: 2.5rem 0;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: #fafafa;
}

.form-check-label {
  color: #000;
}

.form-user-type {
  padding: 1rem;
  border: 1px solid black;
}

.form-check-input:checked {
  background-color: #202020;
  border-color: #000;
}

.form-control,
.minput,
.myselect {
  color: #202020;
}

.gm-style .gm-style-iw-c {
  border-radius: 8px;
  padding: 0px !important;
}

.gm-style {
  overflow: hidden;
  scroll-behavior: unset;
}

.m-footer {
  border-top: 1px solid #e45bae;
  box-shadow: 0px 0 13px #e45bae;
}

.h1home {
  font-size: 17px;
  line-height: 1;
  display: block;
  padding-top: 30px;
  padding-left: 20px;
  color: #202020;
}

.homeh {
  line-height: 1.2;
  letter-spacing: -0.7;
  padding-bottom: 30px;
}

.img-cont {
  margin: 5px;
}

.lineh08 {
  line-height: 18px;
}

.linkciudad {
  text-align: center;
  background-color: #fafafa;
  margin-right: 10px;
}

.lkcity:link, .lkcity:active, .lkcity:visited {
  padding: 10px;
}

.lkcity:hover {
  text-decoration: underline;
}

.l-topbanner {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0px;
  background-color: #fafafa;
  box-shadow: 3px 3px 3px 3px #fafafa;
}

.l-filtros {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 18px 0px 10px 20px;
  font-weight: bold;
  box-shadow: 3px 3px 3px 3px #fafafa;
}

.l-filtros select {
  background: #f0f0f0;
  border: none;
  font-size: 17px;
  height: 30px;
  padding: 5px;
  width: 200px;
}

.mavatar {
  font-size: 1rem;
  display: inline-flex;
  width: 48px;
  height: 80px;
  color: #fff;
  background-color: #adb5bd;
}

.myselect {
  border-radius: 0.375rem;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.minput {
  border-radius: 0.375rem;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.myselect:focus {
  --tw-ring-opacity: 0.5;
  --tw-ring-color: rgba(199, 210, 254, var(--tw-ring-opacity));
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
      var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
      calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.montserrat {
  font-family: Montserrat;
}

.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand > img {
  max-width: 100%;
  max-height: 63px;
}

.nav-link:hover {
  color: #dd2424;
}

.nav-link {
  color: #fff;
}

.navbar-nav .nav-link {
  color: #202020 !important;
  font-size: 1.2rem;
}

.nav-enlace {
  color: #000;
  background-color: #fff;
  border: #000 1px solid;
  display: inline;
  margin-right: 20px;
  padding: 0.6rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-enlace:hover {
  color: #fff;
  background-color: #000;
  border: #000 1px solid;
}

.navbar-light .navbar-nav .nav-link {
  color: #202020;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #dd2424;
}

.nav-linkw {
  text-decoration: none;
  color: #fff;
}

.nav-link-new {
  color: #fff !important;
  background: #202020 !important;
  border: 1px solid #ccc;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-bottom: -1px;
  font-weight: 500;
}

.nav-link-new:hover {
  background: #000 !important;
  border: 1px solid #000 !important;
}

.nav-tabs .nav-link {
  color: #202020;
  background: #fafafa;
  border: 1px solid #ccc;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-bottom: -1px;
  font-weight: 500;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #dd2424;
  border-color: #dd2424;
  color: #fff;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: #dd2424;
  background-color: #ffeefb;
  border-color: #dd2424;
  isolation: isolate;
}

.pointer {
  cursor: pointer;
}

.p-viewer {
  position: absolute;
  right: 17px;
  top: 10px;
  cursor: pointer;
  color: red;
  z-index: 150;
}

.phome {
  font-size: 14px;
  line-height: 17px;
  padding-left: 20px;
  padding-right: 20px;
  color: #505050;
}

.profile-image {
  height: 200px;
  width: 150px;
  cursor: pointer;
}

.profile-main-image {
  border: 6px solid #dd2424;
}

.profile-view {
  width: 50%;
}
.profile-view .icosquare {
  font-size: 0.24rem;
  color: #dd2424;
  vertical-align: middle;
}
.profile-view .mleft {
  margin-left: 6px;
}
.profile-view .profile-name {
  font-family: "AktivGrotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 6px 0px 0px 6px;
  color: #000;
  font-size: 1rem;
  text-align: left;
  line-height: 1.2;
}
.profile-view .profile-under {
  font-family: "AktivGrotesk", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #202020;
  font-size: 0.8rem;
  text-align: left;
}

.profile-view img {
  width: 100%;
  transition: transform 0.4s;
  cursor: pointer;
}

.profile-view2 {
  width: 50%;
}
.profile-view2 .icosquare {
  font-size: 0.24rem;
  color: #dd2424;
  vertical-align: middle;
}
.profile-view2 .mleft {
  margin-left: 6px;
}
.profile-view2 .profile-name {
  font-family: "AktivGrotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 6px 0px 0px 6px;
  color: #000;
  font-size: 1rem;
  text-align: left;
  line-height: 1.2;
}
.profile-view2 .profile-under {
  font-family: "AktivGrotesk", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #202020;
  font-size: 0.8rem;
  text-align: left;
}

.profile-view2 img {
  width: 100%;
  transition: transform 0.4s;
  cursor: pointer;
}

.putas img {
  width: 100%;
}

/* SELECT */
#radiooptions input[type=radio] {
  display: none;
}

#radiooptions span {
  display: inline-block;
  padding: 5px 22px 5px 22px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #dd2424;
  border-radius: 3px;
  color: #dd2424;
}

#radiooptions input[type=radio]:checked + span {
  background-color: #dd2424;
  color: white;
}

.saldoleft {
  background-color: #dd2424;
  color: #fff;
  text-align: center;
  padding: 4px 24px;
}

.text-muted {
  color: #202020 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #202020;
}

.text-333 {
  color: #202020;
}

.table .thead-light th {
  color: #fff;
  background-color: #dd2424;
}

.table .thead-light th {
  color: #fff;
  border-color: #dd2424;
}

.table thead th {
  border-bottom: 0px solid #7c1364;
}

.table th,
.table td {
  padding: 0.4rem;
  vertical-align: top;
  border-top: 0px solid #fff;
  font-size: 1em;
}

.botsficha {
  width: 50%;
  padding: 8px 0px;
  color: #fff;
  float: right;
  position: relative;
  line-height: 1.2;
  text-align: center;
  font-size: large;
}

.bottel {
  background-color: #c6159d;
}

.botwhats {
  background-color: #128c7e;
}

.botsficha a {
  color: #fff;
}

.botsficha a:hover {
  color: #fafafa;
}

.ulservices {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style: none;
}

.ulservices li {
  display: inline;
  white-space: nowrap;
  padding: 3px 10px 3px 10px;
  background-color: #dd5454;
  color: white;
  border-radius: 4px;
  margin-right: 14px;
  font-size: 0.86rem;
  line-height: 2.5;
}

.vip-bfts-list {
  list-style-type: none;
}

.vip-bfts-list li::before {
  content: "•";
  color: #dd2424;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.graytext{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #525252;
  line-height: 18px;
}

@media screen and (max-width: 1200px) {
  .topban-3 {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .botsficha {
    float: left;
  }

  .topban-2 {
    display: none;
  }

  .buscatab {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .panel-link {
    font-size: 13px;
  }

  .nav-enlace {
    border: #000 1px solid;
    display: inline;
    margin-right: 16px;
    padding: 0.2rem;
    border-radius: 2px;
  }

  .breadcrumb_scor {
    text-align: left;
    padding-left: 15px;
  }

  .h1home {
    padding-top: 20px;
  }

  .linkciudad {
    padding: 20px;
  }

  .profile-view .mleft {
    margin-left: 3px;
  }
  .profile-view .profile-under {
    font-size: 0.76rem;
  }
}
@media screen and (max-width: 360px) {
  .panel-link {
    font-size: 12px;
  }

  .video-init {
    display: none;
  }
}
@media screen and (max-width: 411px) {
  .panel-link {
    font-size: 12px;
  }

  .buscamap {
    margin-right: 4px;
  }

  .buscatab {
    margin-right: 4px;
  }
}
@media screen and (min-width: 411px) {
  .panel-link {
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  .panel-link {
    font-size: 12px;
  }

  .buscamap {
    margin-right: 4px;
    text-align: center;
  }

  .buscatab {
    margin-right: 10px;
  }
}
@media screen and (min-width: 576px) {
  .profile-view {
    width: 50%;
  }

  .profile-view2 {
    width: 50%;
  }

  .panel-link {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .profile-view {
    width: 33%;
  }

  .profile-view2 {
    width: 33%;
  }

  .panel-link {
    font-size: 14px;
  }
}
@media screen and (min-width: 968px) {
  .profile-view {
    width: 25%;
  }

  .profile-view2 {
    width: 25%;
  }

  .panel-link {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .profile-view {
    width: 20%;
  }

  .profile-view2 {
    width: 25%;
  }

  .panel-link {
    font-size: 1rem;
  }
}
