@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Regular.ttf?8081832fc5cfbf634aa664a9eff0350e);
}
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-VariableFont_wght.ttf?3068cdb43142f5625bafcb92563ecbfc);
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
body {
  background-color: #ffe9e9;
  background: linear-gradient(#ffe9e9, #fafafa);
  background-repeat: no-repeat;
  font-family: Poppins;
  color: #333;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-weight: 700;
  color: #c6159d;
}

a {
  color: #c6159d;
}

a:hover {
  color: #000;
}

a[aria-expanded=false] .ni-bold-up {
  transition: 0.3s transform ease-in-out;
  transform: rotate(180deg);
}

a[aria-expanded=true] .ni-bold-up {
  transition: 0.3s transform ease-in-out;
}

.ban-panel {
  padding: 2px;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
}

.bg-gris {
  background-color: #fafafa;
}

.bg-rosa {
  background-color: #c6159d;
}

.col-12 {
  padding-right: 25px;
  padding-left: 25px;
}

.boti {
  border-top: #333 1px solid;
  text-align: right;
  padding-right: 60px;
}

.border-pink {
  border: 1px solid #c6159d;
}

.sus:link,
.sus:active,
.sus:visited {
  color: #c6159d;
  font-weight: 700;
  text-decoration: none;
}

.sus:hover {
  color: #000;
}

.boti:link,
.boti:active,
.boti:visited {
  color: #fff;
  border: #000 1px solid;
}

.boti:hover {
  color: #c6159d;
}

.breadcrumb_scor {
  display: block;
  padding-left: 10px;
  text-align: right;
  font-size: 13px;
  margin-top: 10px;
}

ul {
  list-style: none;
}

.bg-verd {
  background-color: #de3c86;
}

.text-vip {
  color: #de3c86;
}

.breadcrumb_scor li {
  display: inline-block;
  margin-right: 5px;
}

.breaddiv {
  display: block;
  float: right;
}

.btn-primary {
  color: #fff;
  border-color: #000;
  background-color: #333;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-primary:hover {
  color: #fff;
  border-color: #fff;
  background-color: #c6159d;
}

.btn-coins {
  color: #000;
  border-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-coins:hover {
  color: #000;
  border-color: #fff;
  background-color: #67ca00;
}

.btns-account {
  padding: 12px;
  width: 280px;
  text-decoration: none;
  border-radius: 8px;
  color: #333;
  margin: 0.5em 0;
  border: #333 1px solid;
  background-color: #fffbfb;
  display: flex;
  justify-content: flex-start;
}

.butbuycoins:hover {
  color: #fff;
  background-color: #c6159d;
}

.butchangepass:hover {
  color: #fff;
  background-color: #64b1ff;
}

.butclose:hover {
  color: #fff;
  background-color: #ff5e5e;
}

.coinsleft {
  font-family: "Press Start 2P";
  color: #c6159d;
  font-size: 2rem;
}

.corner,
.corner-agen {
  position: relative;
}

.corner-agen::after {
  content: "";
  width: 53px;
  height: 52px;
  position: absolute;
  right: -5px;
  z-index: 1;
  background-size: cover;
  background-image: url(/images/corner-vip.png?8fce9c927a84f81444123986a51d2b2d);
}

.corner::after {
  content: " ";
  width: 53px;
  height: 52px;
  position: absolute;
  top: -4px;
  right: -5px;
  z-index: 1;
  background-size: cover;
  background-image: url(/images/corner-vip.png?8fce9c927a84f81444123986a51d2b2d);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #c6159d;
}

.custom-layer {
  position: absolute;
  background-color: rgba(24, 24, 24, 0.85);
  top: 0;
  width: inherit;
  height: 100%;
}

.description {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.description ul {
  padding: 4px 10px;
  width: 100%;
}
.description ul li {
  color: #c6159d;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  display: block;
  float: none;
  line-height: 2rem;
  margin: 0;
  width: 100%;
  padding: 0;
  text-align: left;
}
.description ul li span {
  float: right;
}

.filepond--item {
  width: calc(30% - 0.5em);
}

.faq .item .question {
  background: #fff;
  padding: 20px 50px;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  border-bottom: 1px solid #f4ecec;
}

.faq .item .answer {
  background: #f6f6f6;
  border-top: 1px solid #ddd;
  padding: 20px;
  font-size: 12px;
  line-height: 19px;
  border-left: 4px solid #cb28bf;
  display: none;
}

.featser {
  font-size: 0.9rem;
}

.footer {
  padding: 2.5rem 0;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: #fafafa;
}

.form-check-label {
  color: #000;
}

.form-check-input:checked {
  background-color: #333;
  border-color: #000;
}

.form-control,
.minput,
.myselect {
  color: #333;
}

.img-cont {
  margin: 5px;
}

.mavatar {
  font-size: 1rem;
  display: inline-flex;
  width: 48px;
  height: 80px;
  color: #fff;
  background-color: #adb5bd;
}

.myselect {
  border-radius: 0.375rem;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.minput {
  border-radius: 0.375rem;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.myselect:focus {
  --tw-ring-opacity: 0.5;
  --tw-ring-color: rgba(199, 210, 254, var(--tw-ring-opacity));
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
      var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
      calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.montserrat {
  font-family: Montserrat;
}

.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand > img {
  max-width: 100%;
  max-height: 63px;
}

.nav-link:hover {
  color: #c6159d;
}

.nav-link {
  color: #fff;
}

.saldolink:active, .saldolink:link, .saldolink:visited {
  color: #fff;
  text-decoration: none;
}

.saldolink:hover {
  color: #fafafa;
  text-decoration: underline;
}

.navbar-nav .nav-link {
  color: #333 !important;
}

.navbar-nav .nav-link:hover {
  color: #c6159d !important;
}

.nav-enlace {
  color: #000;
  background-color: #fff;
  border: #000 1px solid;
  display: inline;
  margin-right: 20px;
  padding: 0.6rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-enlace:hover {
  color: #fff;
  background-color: #000;
  border: #000 1px solid;
}

.navbar-light .navbar-nav .nav-link {
  color: #333;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #c6159d;
}

.nav-linkw {
  text-decoration: none;
  color: #fff;
}

.nav-link-new {
  color: #fff !important;
  background: #333 !important;
  border: 1px solid #ccc;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-bottom: -1px;
  font-weight: 500;
}

.nav-link-new:hover {
  background: #000 !important;
  border: 1px solid #000 !important;
}

.nav-tabs .nav-link {
  color: #333;
  background: #fafafa;
  border: 1px solid #ccc;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-bottom: -1px;
  font-weight: 500;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #c6159d;
  border-color: #c6159d;
  color: #fff;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: #c6159d;
  background-color: #ffeefb;
  border-color: #c6159d;
  isolation: isolate;
}

.pointer {
  cursor: pointer;
}

.profile-image {
  height: 200px;
  width: 150px;
  cursor: pointer;
}

.profile-main-image {
  border: 6px solid #c6159d;
}

.profile-view {
  width: 50%;
}
.profile-view .profile-name {
  background-color: #161718;
  padding: 6px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1em;
  text-align: left;
}

.profile-view img {
  width: 100%;
  transition: transform 0.4s;
  cursor: pointer;
}

.putas img {
  width: 100%;
}

/* SELECT */
.sel-nacio {
  width: 320px;
}

.sel-dos {
  width: 320px;
}

.sel-idio {
  width: 360px;
}

#radiooptions input[type=radio] {
  display: none;
}

#radiooptions span {
  display: inline-block;
  padding: 5px 22px 5px 22px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #c6159d;
  border-radius: 3px;
  color: #c6159d;
}

#radiooptions input[type=radio]:checked + span {
  background-color: #c6159d;
  color: white;
}

.saldoleft {
  background-color: #c6159d;
  color: #fff;
  text-align: center;
  padding: 4px 24px;
}

.secrets-nav {
  background: white;
  box-shadow: 0 0 11px 3px #cc00ff;
}

.text-muted {
  color: #333 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #333;
}

.text-333 {
  color: #333;
}

.table .thead-light th {
  color: #fff;
  background-color: #c6159d;
}

.table .thead-light th {
  color: #fff;
  border-color: #c6159d;
}

.table thead th {
  border-bottom: 0px solid #7c1364;
}

.table th,
.table td {
  padding: 0.6rem;
  vertical-align: top;
  border-top: 0px solid #fff;
  font-size: 0.9rem;
}

.botsficha {
  width: 50%;
  padding: 8px 0px;
  color: #fff;
  float: right;
  position: relative;
  line-height: 1.2;
  text-align: center;
  font-size: large;
}

.bottel {
  background-color: #c6159d;
}

.botwhats {
  background-color: #128c7e;
}

.botsficha a {
  color: #fff;
}

.botsficha a:hover {
  color: #fafafa;
}

.ulservices {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style: none;
}

.ulservices li {
  display: inline;
  white-space: nowrap;
  padding: 3px 10px 3px 10px;
  background-color: #ffecf4;
  border-radius: 12px;
  margin-right: 14px;
  font-size: 0.86rem;
  line-height: 2.5;
}

.vip-bfts-list {
  list-style-type: none;
}

.vip-bfts-list li::before {
  content: "•";
  color: #c6159d;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media screen and (max-width: 800px) {
  .botsficha {
    float: left;
  }
}
@media screen and (max-width: 600px) {
  .panel-link {
    font-size: 13px;
  }

  .col-12 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .nav-enlace {
    border: #000 1px solid;
    display: inline;
    margin-right: 16px;
    padding: 0.2rem;
    border-radius: 2px;
  }

  .breadcrumb_scor {
    text-align: left;
    padding-left: 15px;
  }
}
@media screen and (max-width: 360px) {
  .panel-link {
    font-size: 12px;
  }

  .video-init {
    display: none;
  }
}
@media screen and (max-width: 411px) {
  .panel-link {
    font-size: 12px;
  }
}
@media screen and (min-width: 411px) {
  .panel-link {
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  .panel-link {
    font-size: 12px;
  }
}
@media screen and (min-width: 576px) {
  .profile-view {
    width: 50%;
  }

  .panel-link {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .profile-view {
    width: 33%;
  }

  .panel-link {
    font-size: 14px;
  }
}
@media screen and (min-width: 968px) {
  .profile-view {
    width: 25%;
  }

  .panel-link {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .profile-view {
    width: 20%;
  }

  .panel-link {
    font-size: 1rem;
  }
}
