@import "~bootstrap/scss/bootstrap";

// css para los select de los forms ***importante para el select de idiomas***
@import "select2/dist/css/select2";

//css para plugin de subida de imagenes
@import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview';
@import 'filepond/dist/filepond';

// esta libreria permite al visitante ver imagenes escort de manera dinamica


