@font-face {
    font-family: "AktivGrotesk-Bold";
    src: url("../fonts/AktivGroteskCorp-Bold.ttf");

}
@font-face {
    font-family: "AktivGrotesk";
    src: url("../fonts/AktivGroteskCorp-regular.ttf");

}

//colores
$rosa: #dd2424;
$rojo_pastel: #dd2424;
$dark: #202020;
$blanco: #fff;
$lightgris: #ccc;
$negro: #000;

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
    font-size: 1rem;
    font-weight: normal;
}
p {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: normal;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'AktivGrotesk-Bold', Arial, Helvetica, sans-serif;
}
.htext{ text-align: center;}
h1{color: #dd2424;}
h2, .h2 {
    font-size: 1.5rem;
  }
h3, .h3 {
    font-size: 1.3rem;
  }
h4, .h4 {
    color: #333;
    font-size: 1.2rem;
  }
a {
    color: #dd2424;
}
a:hover {
    color: #000;
}

a[aria-expanded="false"] .ni-bold-up {
    transition: 0.3s transform ease-in-out;
    transform: rotate(180deg);
}
a[aria-expanded="true"] .ni-bold-up {
    transition: 0.3s transform ease-in-out;
}
.ban-panel{
    padding: 2px;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
}
.bg-gris {
    background-color: #fafafa;
}

.bg-rosa {
    background-color: $rosa;
}
.blogtitle{ text-transform: uppercase; font-size: 26px; font-weight: 700;}
.blogtitle:link, .blogtitle:active,.blogtitle:visited{ color: #000;}
.blogtitle:hover{color:$rosa}
.boti {
    border-top: $dark 1px solid;
    text-align: right;
    padding-right: 60px;
}
.boti:link,
.boti:active,
.boti:visited {
    color: $blanco;

    border: $negro 1px solid;
}
.boti:hover {
    color: $rosa;
}

.bmanun{
        padding: 7px 15px 7px 15px;
        font-size: 1.2rem;
        margin-right: 15px;
        margin-left: 15px;
    }
.bmanun:link, .bmanun:active, .bmanun:visited { background-color: $rojo_pastel; color: $blanco; border:1px solid $rojo_pastel; }
.bmanun:hover { background-color: $blanco; color: $rojo_pastel; border:1px solid $rojo_pastel; }

.buser{ margin-right: 5px;margin-left: 10px; padding-top:15px;}
.buser:link, .buser:active, .buser:visited { color: $rojo_pastel; }
.buser:hover {  color: $negro;  }

.breadcrumb_scor {
    display: block;
    padding-left: 10px;
    text-align: right;
    font-size: 13px;
    margin-top: 10px;
}
.buscatab{ margin-right: 15px;}
.buscamap{ margin-right:22px; padding-top:5px;}
.form-control {height: calc(1.9rem + 2px);}
  .buscatab input:focus {
    border: 1px solid $rojo_pastel !important;
  }
ul {
    list-style: none;
}
.breadcrumb_scor li {
    display: inline-block;
    margin-right: 5px;
}
.breaddiv {
    display: block;
    float: right;
}
.btn-primary {
    color: $blanco;
    border-color: $negro;
    background-color: $dark;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-primary:hover {
    color: $blanco;
    border-color: $blanco;
    background-color: $rosa;
}

.btns-account {
    padding: 12px;
    width: 280px;
    text-decoration: none;
    border-radius: 8px;
    color: $dark;
    margin: 0.5em 0;
    border: $dark 1px solid;
    background-color: #fffbfb;
}

.butbuycoins:hover {
    color: $blanco;
    background-color: $rosa;
}

.butchangepass:hover {
    color: $blanco;
    background-color: #64b1ff;
}

.butclose:hover {
    color: $blanco;
    background-color: $rojo_pastel;
}

.coinsleft {
    font-family: "Press Start 2P";
    color: $rosa;
    font-size: 2rem;
}
.corner,
.corner-agen {
    position: relative;
}
.corner-agen::after {
    content: "";
    width: 53px;
    height: 52px;
    position: absolute;
    right: -173px;
    top: -11px;
    z-index: 1;
    background-size: cover;
    background-image: url("../img/corner-vip.png");
}
.corner::after {
    content: " ";
    width: 53px;
    height: 52px;
    position: absolute;
    top: -4px;
    right: -5px;
    z-index: 1;
    background-size: cover;
    background-image: url("../img/corner-vip.png");
}
.verified,
.verified-agen {
    position: relative;
}
.verified-agen::after,.verified::after {
    content: "";
    width: 41px;
    height: 39px;
    position: absolute;
    right: 2px;
    bottom: 3px;
    z-index: 1;
    background-size: cover;
    background-image: url("../img/verified.png");
}


.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $rosa;
}
.custom-layer {
    position: absolute;
    background-color: rgba(24, 24, 24, 0.85);
    top: 0;
    width: inherit;
    height: 100%;
}

.description {
    height: 100%;
    display: flex;
    align-items: flex-end;

    ul {
        padding: 4px 10px;
        width: 100%;

        li {
            color: $rosa;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            display: block;
            float: none;
            line-height: 2rem;
            margin: 0;
            width: 100%;
            padding: 0;
            text-align: left;

            span {
                float: right;
            }
        }
    }
}
.firstHeading{ font-size: 0.8rem;font-weight: 500;font-family: 'AktivGrotesk-Bold', Arial, Helvetica, sans-serif; color: $rosa;}

.filepond--item {
    width: calc(30% - 0.5em);
}

.faq .item .question {
    background: $blanco;
    padding: 20px 50px;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    border-bottom: 1px solid #f4ecec;
}

.faq .item .answer {
    background: #f6f6f6;
    border-top: 1px solid #ddd;
    padding: 20px;
    font-size: 12px;
    line-height: 19px;
    border-left: 4px solid #cb28bf;
    display: none;
}
.featser {
    font-size: 0.9rem;
}
.flechika{color: #dd2424; padding-right: 2px;}

.footer {
    padding: 2.5rem 0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background: #fafafa;
}
.form-check-label {
    color: $negro;
}
.form-user-type{

    padding: 1rem;
    border: 1px solid black;

}

.form-check-input:checked {
    background-color: $dark;
    border-color: $negro;
}

.form-control,
.minput,
.myselect {
    color: $dark;
}
.gm-style .gm-style-iw-c {

    border-radius: 8px;
    padding: 0px !important;

  }
.gm-style{overflow: hidden; scroll-behavior: unset;}
.m-footer{
    border-top: 1px solid #e45bae;
    box-shadow: 0px 0 13px #e45bae;
}
.h1home{font-size:17px;line-height:1;display:block;padding-top:30px; padding-left:20px; color: #202020;}
.homeh{ line-height: 1.2; letter-spacing: -0.7; padding-bottom: 30px;}
.img-cont {
    margin: 5px;
}
.lineh08{ line-height: 18px;}
.linkciudad{ text-align: center; background-color: #fafafa; margin-right:10px;}
.lkcity:link,.lkcity:active,.lkcity:visited{padding:10px;}
.lkcity:hover{ text-decoration: underline;}
.l-topbanner{  margin-top:20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius:10px;
    padding: 0px;
    background-color: #fafafa;
    box-shadow: 3px 3px 3px 3px #fafafa;}
.l-filtros{
    margin-top:20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius:10px;
    padding: 18px 0px 10px 20px;
    font-weight: bold;
    box-shadow: 3px 3px 3px 3px #fafafa;
    }
.l-filtros select {
        background: #f0f0f0;
        border: none;
        font-size: 17px;
        height: 30px;
        padding: 5px;
        width: 200px;
     }

.mavatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 80px;
    color: $blanco;
    background-color: #adb5bd;
}

.myselect {
    border-radius: 0.375rem;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
    appearance: none;
    background-color: $blanco;
    border-color: #6b7280;
    border-width: 1px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.minput {
    border-radius: 0.375rem;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
    appearance: none;
    background-color: $blanco;
    border-color: #6b7280;
    border-width: 1px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.myselect:focus {
    --tw-ring-opacity: 0.5;
    --tw-ring-color: rgba(199, 210, 254, var(--tw-ring-opacity));
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);
}

.montserrat {
    font-family: Montserrat;
}

.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand > img {
    max-width: 100%;
    max-height: 63px;
}
.nav-link:hover {
    color: $rosa;
}
.nav-link {
    color: $blanco;
}

.navbar-nav .nav-link {
    color: $dark !important;
    font-size: 1.2rem;
}

.nav-enlace {
    color: $negro;
    background-color: $blanco;
    border: $negro 1px solid;
    display: inline;
    margin-right: 20px;
    padding: 0.6rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}
.nav-enlace:hover {
    color: $blanco;
    background-color: $negro;
    border: $negro 1px solid;
}
.navbar-light .navbar-nav .nav-link {
    color: $dark;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: $rosa;
}
.nav-linkw {
    text-decoration: none;
    color: $blanco;
}
.nav-link-new {
    color: $blanco !important;
    background: $dark !important;
    border: 1px solid $lightgris;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-bottom: -1px;
    font-weight: 500;
}
.nav-link-new:hover {
    background: $negro !important;
    border: 1px solid $negro !important;
}
.nav-tabs .nav-link {
    color: $dark;
    background: #fafafa;
    border: 1px solid $lightgris;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-bottom: -1px;
    font-weight: 500;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: $rosa;
    border-color: $rosa;
    color: $blanco;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    color: $rosa;
    background-color: #ffeefb;
    border-color: $rosa;
    isolation: isolate;
}
.pointer {
    cursor: pointer;
}
.p-viewer{
    position: absolute;
    right: 17px;
    top: 10px;
    cursor: pointer;
    color: red;
    z-index: 150;
}
.phome{ font-size:14px; line-height: 17px; padding-left:20px; padding-right:20px; color:#505050;}
.profile-image {
    height: 200px;
    width: 150px;
    cursor: pointer;
}

.profile-main-image {
    border: 6px solid $rosa;
}

.profile-view {
    width: 50%;

    .icosquare{font-size: 0.24rem; color:$rojo_pastel; vertical-align: middle;}
    .mleft{margin-left:6px;}

    .profile-name {
        font-family: 'AktivGrotesk', Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 6px 0px 0px 6px;
        color: $negro;
        font-size: 1rem;
        text-align: left;
        line-height:1.2;
    }
    .profile-under {
        font-family: 'AktivGrotesk', Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: $dark;
        font-size: 0.8rem;
        text-align: left;
    }

}

.profile-view img {
    width: 100%;
    transition: transform 0.4s;
    cursor: pointer;
}
.profile-view2 {
    width: 50%;

    .icosquare{font-size: 0.24rem; color:$rojo_pastel; vertical-align: middle;}
    .mleft{margin-left:6px;}

    .profile-name {
        font-family: 'AktivGrotesk', Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 6px 0px 0px 6px;
        color: $negro;
        font-size: 1rem;
        text-align: left;
        line-height:1.2;
    }
    .profile-under {
        font-family: 'AktivGrotesk', Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: $dark;
        font-size: 0.8rem;
        text-align: left;
    }

}

.profile-view2 img {
    width: 100%;
    transition: transform 0.4s;
    cursor: pointer;
}

.putas img {
    width: 100%;
}


/* SELECT */
#radiooptions input[type="radio"] {
    display: none;
}

#radiooptions span {
    display: inline-block;
    padding: 5px 22px 5px 22px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $rosa;
    border-radius: 3px;
    color: $rosa;
}

#radiooptions input[type="radio"]:checked + span {
    background-color: $rosa;
    color: white;
}

.saldoleft {
    background-color: $rosa;
    color: $blanco;
    text-align: center;
    padding: 4px 24px;
}

.text-muted {
    color: $dark !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: $dark;
}

.text-333 {
    color: $dark;
}
.table .thead-light th {
    color: $blanco;
    background-color: $rosa;
}
.table .thead-light th {
    color: $blanco;
    border-color: $rosa;
}
.table thead th {
    border-bottom: 0px solid #7c1364;
}
.table th,
.table td {
    padding: 0.4rem;
    vertical-align: top;
    border-top: 0px solid $blanco;
    font-size: 1em;
}

.botsficha {
    width: 50%;
    padding: 8px 0px;
    color: #fff;
    float: right;
    position: relative;
    line-height: 1.2;
    text-align: center;
    font-size: large;
}

.bottel {
    background-color: #c6159d;
}

.botwhats {
    background-color: #128c7e;
}

.botsficha a {
    color: #fff;
}
.botsficha a:hover {
    color: #fafafa;
}
.ulservices {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style: none;
}
.ulservices li {
    display: inline;
    white-space: nowrap;
    padding: 3px 10px 3px 10px;
    background-color: #dd5454;
    color: white;
    border-radius: 4px;
    margin-right: 14px;
    font-size: 0.86rem;
    line-height: 2.5;
}

.vip-bfts-list {
    list-style-type: none;
}

.vip-bfts-list li::before {
    content: "\2022";
    color: $rosa;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.graytext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #525252;
    line-height: 18px;
}


@media screen and (max-width: 1200px) {
    .topban-3 {
       display:none;
    }
}
@media screen and (max-width: 800px) {
    .botsficha {
        float: left;
    }
    .topban-2 {
        display:none;
     }
     .buscatab{display: none;}
}
@media screen and (max-width: 600px) {
    .panel-link {
        font-size: 13px;
    }
    .nav-enlace {
        border: $negro 1px solid;
        display: inline;
        margin-right: 16px;
        padding: 0.2rem;
        border-radius: 2px;
    }
    .breadcrumb_scor {
        text-align: left;
        padding-left: 15px;
    }
    .h1home{padding-top:20px;}
    .linkciudad{ padding:20px;}

    .profile-view{
    .mleft{margin-left:3px;}
    .profile-under {font-size: 0.76rem;}}
}

@media screen and (max-width: 360px) {
    .panel-link {
        font-size: 12px;
    }
    .video-init {
        display: none;
    }
}

@media screen and (max-width: 411px) {
    .panel-link {
        font-size: 12px;
    }
    .buscamap{ margin-right:4px;}
    .buscatab {margin-right: 4px;}
}

@media screen and (min-width: 411px) {
    .panel-link {
        font-size: 12px;
    }
}

@media screen and (max-width: 576px) {
    .panel-link {
        font-size: 12px;
    }
    .buscamap{ margin-right:4px; text-align: center;}
    .buscatab {margin-right: 10px;}

}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {
    .profile-view {
        width: 50%;
    }
    .profile-view2 {
        width: 50%;
    }

    .panel-link {
        font-size: 12px;
    }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {
    .profile-view {
        width: 33%;
    }
    .profile-view2 {
        width: 33%;
    }

    .panel-link {
        font-size: 14px;
    }
}

@media screen and (min-width: 968px) {
    .profile-view {
        width: 25%;
    }
    .profile-view2 {
        width: 25%;
    }

    .panel-link {
        font-size: 16px;
    }
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 1200px) {
    .profile-view {
        width: 20%;
    }
    .profile-view2 {
        width: 25%;
    }

    .panel-link {
        font-size: 1rem;
    }
}
